In [1]:
print("Hello World!")

Hello World!

In [3]:
a=10
b="HELLO"
c=12.25
d=5+4j
e=True
print(a," ",b," ",c," ",d," ",e)
print(type(a)," ",type(b)," ",type(c)," ",type(d)," ",type(e))

10   HELLO   12.25   (5+4j)   True
<class 'int'>   <class 'str'>   <class 'float'>   <class 'complex'>   <class 'bool'>

In [4]:
a=25
b=9
print(" Addition : ",a+b)
print(" Subtraction : ",a-b)
print(" Multiplication : ",a*b)
print(" Division : ",a/b)
print(" Mod : ",a%b)
print(" Floor Divison : ",a//b)
print(" Exponentiation : ",a**b)

 Addition :  34
 Subtraction :  16
 Multiplication :  225
 Division :  2.7777777777777777
 Mod :  7
 Floor Divison :  2
 Exponentiation :  3814697265625

In [2]:
a=25
b=9
if a>b:
    print(" Big Value : ",a)
else:
    print(" Big Value : ",b)

if a%2 == 0:
    print(" Even Number")
else:
    print(" Odd Number")

 Big Value :  25
 Odd Number

In [6]:
n=1
while n<10:
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9

In [9]:
lst=[1,2,3,4,5,6,7,8,9]
for i in lst:
    if i%2 == 0:
      print(" Value : ",i)

 Value :  2
 Value :  4
 Value :  6
 Value :  8

In [7]:
# Create a list  
fruits = ['apple', 'banana', 'cherry']  
print("fuirts[0] =", fruits[0])
print("fuirts[1] =", fruits[1])
print("fuirts[2] =", fruits[2])


# Modify list  
fruits.append('orange')  
print("fruits =", fruits)  
print(" DATA TYPE: ",type(fruits))

num_list = [1, 2, 3, 4, 5]  
# Calculate sum  
sum_nums = sum(num_list)  
print("sum_nums =", sum_nums)

fuirts[0] = apple
fuirts[1] = banana
fuirts[2] = cherry
fruits = ['apple', 'banana', 'cherry', 'orange']
 DATA TYPE:  <class 'list'>
sum_nums = 15

In [9]:
# Create a tuple  
point = (3, 4, 5)  
x, y, z= point  
print(" Tuple Values : ",point)
print("(x, y, z) =", x, y, z)  
print(" DATA TYPE: ",type(point))
print(" DATA TYPE: ",type(x))

# Create another tuple  
tuple_ = ('apple', 'banana', 'cherry', 'orange')  
print("Tuple =", tuple_)

 Tuple Values :  (3, 4, 5)
(x, y, z) = 3 4 5
 DATA TYPE:  <class 'tuple'>
 DATA TYPE:  <class 'int'>
Tuple = ('apple', 'banana', 'cherry', 'orange')

In [10]:
# Create a set  
set1 = {1, 2, 2, 1, 3, 4}  
print("set1 =", set1)  
print(" DATA TYPE : ",type(set1))
  
# Create another set  
set2 = {'apple', 'banana', 'cherry', 'apple', 'orange'}  
print("set2 =", set2)

set1 = {1, 2, 3, 4}
 DATA TYPE :  <class 'set'>
set2 = {'apple', 'orange', 'cherry', 'banana'}

In [12]:
# Create a dictionary  
person = {'name': 'Umesh', 'age': 25, 'city': 'Noida'}  
print("person =", person)  
print(" DATA TYPE: ",type(person))
print(" NAME : ",person['name']) 
print(" AGE  : ",person['age']) 
print(" CITY : ",person['city']) 

# Modify Dictionary  
person['age'] = 27  
print("person =", person)

person = {'name': 'Umesh', 'age': 25, 'city': 'Noida'}
 DATA TYPE:  <class 'dict'>
 NAME :  Umesh
 AGE  :  25
 CITY :  Noida
person = {'name': 'Umesh', 'age': 27, 'city': 'Noida'}

In [14]:
# LIST SLICING
list1  = [10, 20, "hi", "Python"]    
list2  = [25, 15, "sathya", "tech"]    

print (list1)  
print (list1[3:])  
print (list2[0:2])   
# List Concatenation using + operator  
print (list1 + list2)  
# List repetation using * operator  
print (list2 * 3)

[10, 20, 'hi', 'Python']
['Python']
[25, 15]
[10, 20, 'hi', 'Python', 25, 15, 'sathya', 'tech']
[25, 15, 'sathya', 'tech', 25, 15, 'sathya', 'tech', 25, 15, 'sathya', 'tech']

In [15]:
# TUPLE SLICING
tup1  = ("hi", "Python", 2)    
tup2  = ("sathya", "tech", 9)    

print (tup1)  
print (tup1[1:])    
print (tup2[0:1])    
# Tuple concatenation using + operator  
print (tup1 + tup2)    
# Tuple repatation using * operator  
print (tup1 * 3)     
# Adding value to tup. It will throw an error.  
# t[2] = "hi"   --> cat not modify

('hi', 'Python', 2)
('Python', 2)
('sathya',)
('hi', 'Python', 2, 'sathya', 'tech', 9)
('hi', 'Python', 2, 'hi', 'Python', 2, 'hi', 'Python', 2)

NameError: name 't' is not defined

In [4]:
# Create and Delete Variables
counter = 100          # Creates an integer variable
miles   = 1000.0       # Creates a floating point variable
name    = "SathyaTech"   # Creates a string variable
print("Value : ",counter," ",miles," ",name)

del counter
del miles, name
print("Value : ",counter," ",miles," ",name)

Value :  100   1000.0   SathyaTech

NameError: name 'counter' is not defined

In [6]:
# Python Type Casting: INTEGER
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(" Integer Values : ",x," ",y," ",z)

# Python Type Casting: FLOAT
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("4.2") # w will be 4.2
print(" Float Values : ",x," ",y," ",z)

# Python Type Casting: STRING
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(" String Values : ",x," ",y," ",z)

 Integer Values :  1   2   3
 Float Values :  1.0   2.8   4.2
 String Values :  s1   2   3.0

In [8]:
# Python String Datatype
a = "Hello"
print(a)

a = """SathyaTech Hyderabad
Good day 
bye"""
print(a)

a = '''SathyaTech Hyderabad
Nice day
bye'''
print(a)

Hello
SathyaTech Hyderabad
Good day
bye
SathyaTech Hyderabad
Nice day
bye

In [10]:
# String Slicing
b = "Hello, World!"
print(b)
print(b[2:5])
print(b[:5])
print(b[2:])
print(b[-5:-2])

Hello, World!
llo
Hello
llo, World!
orl

In [11]:
# String Operations
a = "Hello, World!"
print(a.upper())
print(a.lower())
print(a.strip()) # returns "Hello, World!"
print(a.replace("H", "J"))
print(a.split(",")) # returns ['Hello', ' World!']

a = "Hello"
b = "World"
c = a + b
print(c)

c = a + " " + b
print(c)

HELLO, WORLD!
hello, world!
Hello, World!
Jello, World!
['Hello', ' World!']
HelloWorld
Hello World

In [16]:
# F-String Examples
age = 36
txt = f"My name is John, I am {age}"
print(txt)

price = 59
txt = f"The price is {price} dollars"
print(txt)

txt = f"The price is {price:.2f} dollars"
print(txt)

txt = f"The price is {20 * 59} dollars"
print(txt)

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

My name is John, I am 36
The price is 59 dollars
The price is 59.00 dollars
The price is 1180 dollars
We are the so-called "Vikings" from the north.